<!--Shayna Oh, 2/3/2021, 414-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <!--materialize css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>@ViewBag.Title</title>

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="blue-grey darken-4 nav-wrapper">
            <span style="padding-left: 10px;"><a asp-action="Index" class="brand-logo">JH Film</a></span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a asp-action="Podcasts">My Podcasts</a></li>
                <li><a asp-action="MovieList">View All Movies</a></li>
                <li><a asp-action="AddMovie">Add a Movie</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 class="center">@ViewBag.HeaderTitle</h3>

        @RenderBody()

        <br />
        <br />
    </div>

    
    <footer class="center grey-text lighten-4">
        Copyright 2020
    </footer>
</body>
</html>
