@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewData["HeaderTitle"] = "Welcome to the Joel Hilton Film Collection";
}



<br />
<div class="text-center">
    <div class="center">
        <img src="~/img/joelhilton.jpg" width="800"/>
    </div>
</div>
